[project]
	description = Reference implementation of a mbox-based protocol for host flash abstraction.
[access]
	inheritFrom = openbmc-c-repos
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group user/Andrew Jeffery (amboar)
	label-Code-Review = -2..+2 group user/Cyril Bur (cyrilbur-ibm)
	label-Ok-To-Test = +0..+1 group user/Andrew Jeffery (amboar)
	label-Ok-To-Test = +0..+1 group user/Cyril Bur (cyrilbur-ibm)
	label-Verified = -1..+1 group user/Andrew Jeffery (amboar)
	label-Verified = -1..+1 group user/Cyril Bur (cyrilbur-ibm)
